In [1]:
from income_streams.rate_pension import RatePension

In [2]:
pens = RatePension(
    initial_value = 10000000,  # Initial capital
    yearly_contribution = 10000,      # Annual interest rate
)

In [4]:
y_p = pens.yearly_payout( 19671514, pens.yearly_return, 10)
y_p

    Årlig udbetaling (efter PAL-skat)  Saldo efter år
År
1                        2.663745e+06    1.817409e+07
2                        2.663745e+06    1.658789e+07
3                        2.663745e+06    1.490764e+07
4                        2.663745e+06    1.312777e+07
5                        2.663745e+06    1.124237e+07
6                        2.663745e+06    9.245184e+06
7                        2.663745e+06    7.129586e+06
8                        2.663745e+06    4.888554e+06
9                        2.663745e+06    2.514651e+06
10                       2.663745e+06    4.377216e-08