In [1]:
import pandas as pd

from income_streams.rate_pension import RatePension
from income_streams.aktieindkomst import Aktieindkomst

In [2]:
pens = RatePension(
    initial_value = 10000000,  # Initial capital
    yearly_contribution = 10000,      # Annual interest rate
)

In [3]:
y_p = pens.yearly_payout( 19671514, pens.yearly_return, 10)

In [4]:
aktie = Aktieindkomst(
    initial_value = 10000000,  # Initial capital
)

In [6]:
pd.set_option("display.float_format", "{:.0f}".format)

aktie.calculate_yearly_income(100000, 0.05, 0.02, 0.01, 10)

    Startsaldo  Udbytte  Realiseret gevinst  Aktieindkomst  Slutsaldo
År
1       100000     2100                1029           3129     101871
2       101871     2139                1048           3188     103777
3       103777     2179                1068           3247     105719
4       105719     2220                1088           3308     107697
5       107697     2262                1108           3370     109712
6       109712     2304                1129           3433     111764
7       111764     2347                1150           3497     113855
8       113855     2391                1172           3563     115986
9       115986     2436                1193           3629     118156
10      118156     2481                1216           3697     120367